
#error{
background-color: rgb(53, 54, 63);
}
#error-img{

    align-self: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: auto;
    height: 20vh;
    

}
#error-message{
    height: 10vh;
    color: white;
    text-align: center;
    margin-bottom: 10vh;
}
#search-bar{
    align-self: center;
}